body{
    height: 100vh;
    background: url("img/pexels-ifreestock-585753.jpg");
    background-position: center;
    background-size: cover;


}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;

}
header .navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;

}
.navbar .logo {
    font-size: 2.1rem;
    font-weight: 600;
}
.navbar .logo span {
    color: #C0683E;

}
.navbar .menu-links {
    display: flex;
    gap: 40px;

}
.navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;

}
.navbar a:hover {
    color: #C0683E;

}
.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.hero-section .content {
    color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.hero-section .content h1{
    font-size: 3rem;
    min-width: 600px;
    color: #C0683E;
}
.hero-section .content p {
    font-weight: 300;
    margin-top: 15px;
    min-width: 600px;
}
.hero-section .content button {
    background: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 38px;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;

}
.hero-section .content button:hover {
 color: #fff;
 background: #C0683E;

}




