body{
    height: 100vh;
    background: url("img/pexels-maksgelatin-4352247.jpg");
    background-position: center;
    background-size: cover;



}
header {
    position: absolute;
    top: 10;
    left: 5;
    width: 100%;
    padding: 26px;

}
header .navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;

}
.navbar .logo {
    font-size: 2.1rem;
    font-weight: 600;
}
.navbar .logo span {
    color: #be8f52;

}
.navbar .menu-links {
    display: flex;
    gap: 60px;

}
.navbar a {
    color: #aa9244;
    text-decoration: floralwhite;
    transition: 0.2s ease;

}
.navbar a:hover {
    color: #311e02;

}
.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.hero-section .content {
    color: #0f0e0d;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.hero-section .content h1{
    font-size: 2rem;
    min-width: 800px;
    color: #b4781d;
    text-align: center;
}
.hero-section .content p {
    font-weight: 250;
    margin-top: 15px;
    min-width: 600px;
}
.hero-section .content button {
    background: #db8e29;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 45px;
    padding: 15px 35px;
    border-radius: 6px;
    cursor: grab;
    transition: 0.5s ease;

}
.hero-section .content button:hover {
 color: #fff;
 background: #645944fd;

}
